In [3]:
# Importando todas las librerías requeridas para el análisis

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# Cargando el archivo commo dataframe
df_dvio = pd.read_csv("./data/violencia.csv")

In [5]:
# Nombre y tipo de datos de las columnas
df_dvio.dtypes

DEPARTAMENTO    object
MUNICIPIO       object
CODIGO DANE      int64
ARMAS MEDIOS    object
FECHA HECHO     object
GENERO          object
GRUPO ETARIO    object
CANTIDAD         int64
dtype: object

In [9]:
# Cantidad y porcentaje de cada departamento de los casos reportados como Violnecia Intrafamiliar
abs_frecuency = df_dvio["DEPARTAMENTO"].value_counts().to_frame()
rel_frecuency = df_dvio["DEPARTAMENTO"].value_counts(normalize = True).to_frame()
pd.concat([abs_frecuency, rel_frecuency], axis = 1)

                    DEPARTAMENTO  DEPARTAMENTO
CUNDINAMARCA              184446      0.255175
ANTIOQUIA                  86893      0.120214
VALLE                      75561      0.104536
SANTANDER                  54525      0.075434
BOYACÁ                     33540      0.046401
ATLÁNTICO                  26318      0.036410
META                       23548      0.032578
HUILA                      22051      0.030507
TOLIMA                     21402      0.029609
NORTE DE SANTANDER         20907      0.028924
RISARALDA                  20055      0.027745
NARIÑO                     19926      0.027567
BOLÍVAR                    19711      0.027270
CAUCA                      18503      0.025598
CÓRDOBA                    13262      0.018348
MAGDALENA                  12845      0.017771
SUCRE                      11708      0.016198
CALDAS                     10013      0.013853
CESAR                       8821      0.012204
CASANARE                    7308      0.010110
CAQUETÁ                     5850      0.008093
QUINDÍO                     5308      0.007343
GUAJIRA                     5125      0.007090
ARAUCA                      4320      0.005977
PUTUMAYO                    3336      0.004615
CHOCÓ                       2260      0.003127
AMAZONAS                    1617      0.002237
SAN ANDRÉS                  1289      0.001783
GUAVIARE                     972      0.001345
GUAINÍA                      552      0.000764
VICHADA                      440      0.000609
VAUPÉS                       410      0.000567

In [10]:
#TOP 3 departamentos más afectados por violencia intrafamiliar de Enero de 2010 hasta Julio de 2021
abs_frecuency.head(3)

              DEPARTAMENTO
CUNDINAMARCA        184446
ANTIOQUIA            86893
VALLE                75561

In [12]:
#Convertir el set FECHA HECHO de type object a type date
anio = pd.to_datetime(df_dvio["FECHA HECHO"])

In [13]:
#TOP 3 departamentos más afectados por violencia intrafamiliar en el último año
df_ultanio = df_dvio.loc[anio > "2020-07-31"]
absanio_frecuency = df_ultanio["DEPARTAMENTO"].value_counts().to_frame()
absanio_frecuency.head(3)

              DEPARTAMENTO
CUNDINAMARCA         26880
ANTIOQUIA            14587
VALLE                 8300

In [14]:
#Arma más común en los delitos de violencia intrafamiliar.
arm_frecuency = df_dvio["ARMAS MEDIOS"].value_counts().to_frame()
arm_frecuency.head(1)

              ARMAS MEDIOS
CONTUNDENTES        364692

In [15]:
#Porcentaje y cantidad de cada género que es reportado como victíma de Violencia intrafamiliar
rel_frecuencyG = df_dvio["GENERO"].value_counts(normalize = True).to_frame()
abs_frecuencyG = df_dvio["GENERO"].value_counts().to_frame()
pd.concat([abs_frecuencyG, rel_frecuencyG], axis = 1)

              GENERO    GENERO
FEMENINO      575789  0.796585
MASCULINO     146736  0.203004
NO REPORTADO     277  0.000383
NO REPORTA        20  0.000028

In [16]:
#Porcentaje y cantidad del último año por género reportado como Violencia intrafamiliar
df_ultanioG = df_dvio.loc[anio > "2020-07-31"]
relanio_frecuencyG = df_ultanioG["GENERO"].value_counts(normalize = True).to_frame()
absanio_frecuencyG = df_ultanioG["GENERO"].value_counts().to_frame()
pd.concat([absanio_frecuencyG, relanio_frecuencyG], axis = 1)

              GENERO    GENERO
FEMENINO       73580  0.766323
MASCULINO      22424  0.233542
NO REPORTADO      13  0.000135

In [17]:
#Porcentaje y cantidad de los grupos etarios victímas de violencia intrafamiliar
rel_frecuencyGr = df_dvio["GRUPO ETARIO"].value_counts(normalize = True).to_frame()
abs_frecuencyGr = df_dvio["GRUPO ETARIO"].value_counts().to_frame()
pd.concat([abs_frecuencyGr, rel_frecuencyGr], axis = 1)

              GRUPO ETARIO  GRUPO ETARIO
ADULTOS             652916      0.903287
MENORES              39566      0.054738
ADOLECENTES          28853      0.039917
NO REPORTADO          1487      0.002057

In [19]:
#Porcentaje y cantidad de los grupos etarios victímas en el último año de violencia intrafamiliar
df_ultanioGr = df_dvio.loc[anio > "2020-07-31"]
relanio_frecuencyGr = df_ultanioGr["GRUPO ETARIO"].value_counts(normalize = True).to_frame()
absanio_frecuencyGr = df_ultanioGr["GRUPO ETARIO"].value_counts().to_frame()
pd.concat([absanio_frecuencyGr, relanio_frecuencyGr], axis = 1)

              GRUPO ETARIO  GRUPO ETARIO
ADULTOS              86136      0.897091
MENORES               5454      0.056802
ADOLECENTES           3218      0.033515
NO REPORTADO          1209      0.012592